<% require 'date' %>

<h3> <%= title %> </h3>

<!-- Manager and Colleagues-->
<h5>Manager and Colleagues</h5>
<%= render partial: 'team_split', :locals => { :given_id => current_user.manager_id, :date => date } %>

<!-- Your Team -->
<h5>Your Team</h5>
<%= render partial: 'team_split', :locals => { :given_id => current_user.id, :date => date } %>
