<% User.get_team_users(current_user.manager_id).each do |user| %>
<% unless current_user.id == user.id %>
  <% user.absences.each do |ab| %>
      <ul>
        <li><%= user.full_name if ab.date_from <= date && ab.date_to >= date %></li>  
      </ul>
    <% end %>
  <% end %>
<% end %>  
